@font-face {
    font-family: slate-bk;
    src: url('../fonts/Slate Pro BK.ttf');
}

@font-face {
    font-family: slate-med;
    src: url('../fonts/Slate Pro Medium.ttf');
}

@font-face {
    font-family: slate-black;
    src: url('../fonts/Slate Pro Black.ttf');
}

* {
    background-color: #0D0D0D;
    color: #F4F4F9;
}

.logo {
    color: #F4F4F9;
    font-family: slate-med, sans-serif;
    font-size: 1.5rem;
    font-weight: medium;
    padding: 0 2rem;
}

.logo-dot {
    color:#63D471;
    font-size: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: slate-bk, sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0px 10px 20px 0 rgb(0, 0, 0, 3);
    margin-left: -8px;
    margin-top: -9px;
    margin-right: -8px;
}

nav a {
    color: #737373;
    padding: 10px;
    text-decoration: none;
}
.nav-item a:hover {
    color:#63D471;
    text-decoration: underline;
}

.right-nav {
    display: flex;
    align-items: center;
    font-family: slate-med, sans-serif;
}

.right-nav a {
    padding: 10px;
    font-weight: medium;
}

.right-nav a:hover {
    color:#63D471;
    text-decoration: underline;

}


#nav-contact {
    background-color: #63D471;
    color: #0D0D0D;
    font-family: slate-med, sans-serif;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
    
}

#nav-contact:hover {
    background-color: #0D0D0D;
    color: #63D471;
    box-shadow: 0 0 35px 0 #63D471;
    transition: 0.5s;
}

.hero-container {
    margin-top: 320px;
    margin-left: 100px;
}

.hero-hello {
    color: #f4f4f4;
    font-family: slate-bk, sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

.hero-name {
    color: #f4f4f4;
    font-family: slate-med, sans-serif;
    font-size: 6rem;
    margin: 0;
    margin-top: -20px;
    margin-left: -5px;
}

.hero-name-ashey {
    color: #63D471;
}

.hero-desc {
    font-family: slate-bk, sans-serif;
    font-size: 1.1rem;
    margin: 0;
    border-radius: 5px;
    max-width: 450px;
    word-wrap: break-word;
    color: #737373;
}

.hero-desc-keywords {
    color: #63D471;
    text-decoration: underline;
}